body {
    background-color: #093F82;
    background-image: url(background.png);
    background-size: 100%;
    color: #333;
    font-family: PT-Sans;
}

h1, h2, h3, h4, h5, h6 {
    font-family: PlayfairDisplay;
    margin-top: 10px;
    margin-bottom: 3px;
}

pre {
    background-color:white;
    padding: 10px;
    border-radius: 10px;
    white-space: pre-wrap;
}

.clickable-text {
    display: inline-block;
    background: -webkit-linear-gradient(#c4c4c4, #4d4d4d);
    background: linear-gradient(#c4c4c4, #4d4d4d);
    border-radius: 3px;
    text-shadow: 1px 1px 3px #f0f0f0;
    padding: 1px;
}

@font-face {
    font-family: PT-Sans;
    src: url(fonts/PT_Sans/PT_Sans-Web-Regular.ttf);
}

@font-face {
    font-family: PlayfairDisplay;
    src: url(fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
}
